#{extends 'main.html' /}
#{set title:'SAKTI' /}
<script type="text/javascript" src="@{'/public/plugin/DataTables/DataTables-1.10.16/js/dataTables.bootstrap.js'}"></script>
<script type="text/javascript" src="@{'/public/plugin/DataTables/Plugins/api/fnFilterOnReturn.js'}"></script>
<link rel="stylesheet" href="@{'/public/plugin/DataTables/DataTables-1.10.16/css/dataTables.bootstrap.css'}" type="text/css"/>
<link rel="stylesheet" href="@{'public/plugin/select2-4.0.2/dist/css/select2.min.css'}" type="text/css"/>


<style>
    /* Temporary styles for demonstration purpose */
    .content-area {
      padding-top: 56px;
    }
    @media (min-width: 992px) {
      .content-area {
        padding-left: 20px;
      }
    }

    /* New styles for navbar and sidebar */
    .navbar-custom {
      background-color: #f0f8ff; /* Warna putih kebiruan */
    }

    .sidebar-custom {
      background-color: #f0f8ff; /* Warna putih kebiruan */
    }
</style>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top navbar-custom">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@{HomeCtr.logout()}" >Logout</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<!-- Sidebar -->
<div class="bg-light text-dark fixed-top sidebar-custom" style="width: 220px; height: 100vh; border-right: 0px solid #ccc; margin-top: 50px;">
    <div class="p-4">
        <h5>Pembayaran</h5>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#ruhPembayaranCollapse" role="button" aria-expanded="false" aria-controls="ruhPembayaranCollapse">RUH Pembayaran</a>
                <div class="collapse show" id="ruhPembayaranCollapse" style="margin-left: 10px;">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Catat/Ubah SPP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Input FA Detail</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Renkas Harian</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Catat PPDH</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>


<!-- Content -->
<div class="container mt-3 content-area">
    <div class="container">
        <form>
            <div class="row mb-3">
                <label for="satkerInput" class="col-sm-1 col-form-label">SATKER</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="satkerInput" placeholder="Masukkan Satker">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="KPPN">
                </div>
                <label for="satkerInput" class="col-sm-1 col-form-label">Tahun Anggaran</label>
                <div class="col">
                    <input type="text" class="form-control" placeholder="tahun anggaran">
                </div>
            </div>
            <div class="row mb-3">
                <label for="satkerInput" class="col-sm-1 col-form-label">KPPN</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="satkerInput" placeholder="Masukkan KPPN">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="lokasi">
                </div>
            </div>

            <div class="row mb-3">
                <label for="idSpp1" class="col-sm-1 col-form-label">Jenis SPP</label>
                <div class="col-sm-6">
                    <select name="idSpp1" id="idSpp1"
                            class="form-control js-example-basic-single">
                        <option value=""></option>
                        #{list daftarSPP1, as:'p'}
                        <option value="${p?.id}" ${Integer.parseInt(idProgramSelectP==null?'0':idProgramSelectP) == p.id?"selected":""}> ${p.nama}</option>
                        #{/list}
                    </select>
                    <select name="idSpp2" id="idSpp2"
                            class="form-control js-example-basic-single">
                        <option value=""></option>
                        #{list daftarSPP2, as:'p'}
                        <option value="${p?.id}" ${Integer.parseInt(idProgramSelectP==null?'0':idProgramSelectP) == p.id?"selected":""}> ${p.nama}</option>
                        #{/list}
                    </select>
                    <select name="idSpp3" id="idSpp3"
                            class="form-control js-example-basic-single">
                        <option value=""></option>
                        #{list daftarSPP3, as:'p'}
                        <option value="${p?.id}" ${Integer.parseInt(idProgramSelectP==null?'0':idProgramSelectP) == p.id?"selected":""}> ${p.nama}</option>
                        #{/list}
                    </select>
                </div>

            </div>



            <!-- Radio Buttons -->
            <div class="row mb-3" style="margin-left: 100px;">
                <div class="col-sm-1">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            BAST
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                            Non BAST
                        </label>
                    </div>
                </div>
            </div>

            <!--datatable -->
            <div class="container">
                <table id="example" class="table table-bordered" style="width:100%">
                    <thead>
                    <tr>
                        <th>No Spp</th>
                        <th>Tgl Spp</th>
                        <th>Jumlah Pembayaran</th>
                        <th>Mata uang</th>
                        <th>Jatuh Tempo</th>
                        <th>Supplier</th>
                        <th>Uraian</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </tfoot>
                </table>
                <a href="@{CatatUbahSppCtr.index()}" class="btn btn-primary">Tambah</a>
            </div>
        </form>
    </div>
</div>
